<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <servlet>
        <servlet-name>getUsers</servlet-name>
        <servlet-class>by.epam.basavets.servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUsers</servlet-name>
        <url-pattern>/getUsers</url-pattern>
    </servlet-mapping>
    <!--    <servlet>-->
    <!--        <servlet-name>calendar</servlet-name>-->
    <!--        <servlet-class>CalendarConnector</servlet-class>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>jsp</servlet-name>-->
    <!--        <url-pattern>*.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->

</web-app>